{% extends 'lc-secretary-layout.html' %}

{% block title %}Личный кабинет секретаря - Специальности{% endblock %}

{% block secondary_content %}
    <div class="lc-content">
    <div class="lc-data-container">
        <div class="two-cl-container">
            <div class="content standard-form-item">
                <h4>Заявления</h4>
                <div class="data_authorization">
                    <div class="data contacts">
                        <span class="label" style="width: 20%">Специальности</span>
                        <div class="table" style="width: calc(80% - 30px)">
                            <table class="contacts_table" width="100%">
                                <tr>
                                    <th>Название</th>
                                    <th>Количество бюджетных мест</th>
                                    <th>Количество платных мест</th>
                                    <th>Количество целевых мест</th>
                                </tr>
                                <tr v-for="(special, index) in selectedSpecialities" :key="index">
                                    <td>[[ special.title ]]</td>
                                    <td>[[ special.number_budget_places ]]</td>
                                    <td>[[ special.number_paid_places ]]</td>
                                    <td>[[ special.number_target_places ]]</td>
                                    <td>
                                        <div class="phone">
                                            <span @click="initEditSpecialForm(index)" class="icon_edit"></span>
                                            <span @click="deleteSpecial(index)" class="icon_delete"></span>
                                        </div>
                                    </td>
                                </tr>
                            </table>
                             <button @click="openAddSpecialForm" class="btn__add_phone" type="button">
                                <span class="icon_plus"></span>Добавить специальность
                            </button>
                        </div>
                    </div>
                    <div class="btn__save_data">
                        <el-button @click="saveInfo" :loading="isLoadingBtn" type="primary">Сохранить</el-button>
                    </div>
                </div>
            </div>

            <el-dialog class="form__add_phone" @close="closeSpecialForm" :visible.sync="addSpecialForm"
                   title="Добавить специальность" width="60%">
            <el-form :model="formInline" :rules="rules" ref="formInline" class="demo-form-inline form__add_phone">
                <el-form-item prop="faculty" label="Факультет:">
                    <el-select class="select_positions" v-model="formInline.faculty"
                               placeholder="Выберите факультет">
                        <el-option v-for="faculty in faculties" :key="faculty.id" :label="faculty.title"
                                   :value="faculty.id"></el-option>
                    </el-select>
                </el-form-item>
                <el-form-item label="Название:" prop="title">
                    <el-input v-model="formInline.title" placeholder="Название"></el-input>
                </el-form-item>
                <el-form-item label="Количество бюджетных мест:" prop="number_budget_places">
                    <el-input type="number" v-model="formInline.number_budget_places"
                              placeholder="Количество бюджетных мест"></el-input>
                </el-form-item>
                <el-form-item label="Количество платных мест:" prop="number_paid_places">
                    <el-input type="number" v-model="formInline.number_paid_places"
                              placeholder="Количество платных мест"></el-input>
                </el-form-item>
                <el-form-item label="Количество целевых мест:" prop="number_target_places">
                    <el-input type="number" v-model="formInline.number_target_places"
                              placeholder="Количество целевых мест"></el-input>
                </el-form-item>
                <el-form-item label="Стоимость обучения:" prop="cost">
                    <el-input type="number" v-model="formInline.cost" placeholder="Стомость обучения"></el-input>
                </el-form-item>
                <el-form-item label="Наличие стипендии">
                    <el-switch v-model="formInline.is_stipend"></el-switch>
                </el-form-item>
                <el-form-item>
                    <el-button type="primary" @click="createSpecial">Создать</el-button>
                    <el-button @click="closeSpecialForm">Отменить</el-button>
                </el-form-item>
            </el-form>
        </el-dialog>


        <el-dialog class="form__add_phone" @close="closeEditSpecialForm" :visible.sync="editSpecialForm"
                   title="Редактировать специальность" width="60%">
             <el-form :model="editFormInline" :rules="rules" ref="editFormInline" class="demo-form-inline form__add_phone">
                <el-form-item prop="faculty" label="Факультет:">
                    <el-select class="select_positions" v-model="editFormInline.faculty"
                               placeholder="Выберите факультет">
                        <el-option v-for="faculty in faculties" :key="faculty.id" :label="faculty.title"
                                   :value="faculty.id"></el-option>
                    </el-select>
                </el-form-item>
                <el-form-item label="Название:" prop="title">
                    <el-input v-model="editFormInline.title" placeholder="Название"></el-input>
                </el-form-item>
                <el-form-item label="Количество бюджетных мест:" prop="number_budget_places">
                    <el-input type="number" v-model="editFormInline.number_budget_places"
                              placeholder="Количество бюджетных мест"></el-input>
                </el-form-item>
                <el-form-item label="Количество платных мест:" prop="number_paid_places">
                    <el-input type="number" v-model="editFormInline.number_paid_places"
                              placeholder="Количество платных мест"></el-input>
                </el-form-item>
                <el-form-item label="Количество целевых мест:" prop="number_target_places">
                    <el-input type="number" v-model="editFormInline.number_target_places"
                              placeholder="Количество целевых мест"></el-input>
                </el-form-item>
                <el-form-item label="Стоимость обучения:" prop="cost">
                    <el-input type="number" v-model="editFormInline.cost" placeholder="Стомость обучения"></el-input>
                </el-form-item>
                <el-form-item label="Наличие стипендии">
                    <el-switch v-model="editFormInline.is_stipend"></el-switch>
                </el-form-item>
                <el-form-item>
                    <el-button type="primary" @click="editSpecial">Сохранить</el-button>
                    <el-button @click="closeEditSpecialForm">Отменить</el-button>
                </el-form-item>
            </el-form>
        </el-dialog>

    </div>

{% endblock %}

{% block scripts %}
    <script>
        new Vue({
            el: '#app',
            delimiters: ['[[', ']]'],
            data: function () {
                return {
                    activeIndex: '2',
                    specialities: {{ specialities|safe }},
                    faculties: {{ faculties|safe }},
                    selectedSpecialities: {{ specialities|safe }},
                    addSpecialForm: false,
                    editSpecialForm: false,
                    formInline: {
                        faculty: '',
                        title: '',
                        number_budget_places: '',
                        number_paid_places: '',
                        number_target_places: '',
                        cost: '',
                        is_stipend: false
                    },
                    editFormInline: {
                        faculty: '',
                        title: '',
                        number_budget_places: '',
                        number_paid_places: '',
                        number_target_places: '',
                        cost: '',
                        is_stipend: false
                    },
                    rules: {
                        faculty: [
                            {required: true, message: 'Это поле обязательное', trigger: 'change'}
                        ],
                        title: [
                            {required: true, message: 'Это поле обязательное', trigger: 'blur'}
                        ],
                        number_budget_places: [
                            {required: true, message: 'Это поле обязательное', trigger: 'blur'}
                        ],
                        number_paid_places: [
                            {required: true, message: 'Это поле обязательное', trigger: 'blur'}
                        ],
                        number_target_places: [
                            {required: true, message: 'Это поле обязательное', trigger: 'blur'}
                        ],
                        cost: [
                            {required: true, message: 'Это поле обязательное', trigger: 'blur'}
                        ]
                    },
                    currentIndex: null,
                    isLoadingBtn: false,
                    selectSpecial: null
                }
            },
            methods: {
                openAddSpecialForm() {
                    this.addSpecialForm = true;
                },
                openEditSpecialForm() {
                    this.editSpecialForm = true;
                },
                closeSpecialForm() {
                    this.addSpecialForm = false;
                    this.formInline = {
                        faculty: '',
                        title: '',
                        number_budget_places: '',
                        number_paid_places: '',
                        number_target_places: '',
                        cost: '',
                        is_stipend: false
                    };
                },
                closeEditSpecialForm() {
                    this.editSpecialForm = false;
                    this.editformInline = {
                        faculty: '',
                        title: '',
                        number_budget_places: '',
                        number_paid_places: '',
                        number_target_places: '',
                        cost: '',
                        is_stipend: false
                    }
                },
                initEditSpecialForm(index) {
                    this.currentIndex = index;
                    let special = this.specialities[this.currentIndex];
                    this.editFormInline = {
                        faculty: special.faculty,
                        title: special.title,
                        number_budget_places: special.number_budget_places,
                        number_paid_places: special.number_paid_places,
                        number_target_places: special.number_target_places,
                        cost: special.cost,
                        is_stipend: special.is_stipend
                    };
                    this.openEditSpecialForm();
                },
                  createSpecial() {
                     this.$refs['formInline'].validate((valid) => {
                        if (valid) {
                            let selectFaculty = this.formInline.faculty ? this.faculties.find(
                                faculty => faculty.id === this.formInline.faculty) : '';
                            let data = {
                                id: '',
                                faculty: selectFaculty,
                                title: this.formInline.title,
                                number_budget_places: this.formInline.number_budget_places,
                                number_paid_places: this.formInline.number_paid_places,
                                number_target_places: this.formInline.number_target_places,
                                cost: this.formInline.cost,
                                is_stipend: this.formInline.is_stipend
                            };
                            this.specialities.push(data);
                            this.selectedSpecialities = this.specialities;
                            this.closeSpecialForm();
                        } else {
                            return false;
                        }
                    })
                },
                 editSpecial() {
                    this.$refs['editFormInline'].validate((valid) => {
                        if (valid) {
                            let specialObj = this.specialities[this.currentIndex];
                            specialObj.faculty = this.editFormInline.faculty ? this.faculties.find(
                                faculty => faculty.id === this.editFormInline.faculty) : '';
                            specialObj.title = this.editFormInline.title;
                            specialObj.number_budget_places = this.editFormInline.number_budget_places;
                            specialObj.number_paid_places = this.editFormInline.number_paid_places;
                            specialObj.number_target_places = this.editFormInline.number_target_places;
                            specialObj.cost = this.editFormInline.cost;
                            specialObj.is_stipend = this.editFormInline.is_stipend;
                            this.closeEditSpecialForm();
                        } else {
                            return false;
                        }
                    })
                },
                deleteSpecial(index) {
                  this.specialities.splice(index, 1);
                },
                specialitiesToJson() {
                    return this.specialities.map(function (item) {
                        return {
                            id: item.id,
                            faculty: item.faculty.id ? item.faculty.id : item.faculty,
                            title: item.title,
                            number_budget_places: item.number_budget_places,
                            number_paid_places: item.number_paid_places,
                            number_target_places: item.number_target_places,
                            cost: item.cost,
                            is_stipend: item.is_stipend

                        }
                    }.bind(this));
                },
                openAlert() {
                    this.$alert('Изменения сохранены.', 'Заявления', {
                        confirmButtonText: 'OK',
                        confirmButtonClass: 'confirms_save_btn'
                    });
                },
                saveInfo() {
                    this.isLoadingBtn = true;
                    let data = JSON.stringify({
                        specialities: this.specialitiesToJson()
                    });

                    let url = '{% url 'lc-secretary-specialities-save' %}';
                    fetch(url, {
                        method: 'POST',
                        headers: {
                            'Accept': 'application/json',
                            'Content-Type': 'application/json'
                        },
                        body: data,
                    })
                        .then((response) => {
                            if (response.ok) {
                                return response.json();
                            }
                            throw new Error('Network response was not ok');
                        })
                        .then((json) => {
                            if (json['success']) {
                                this.isLoadingBtn = false;
                                this.openAlert();
                            }
                        })
                        .catch((error) => {
                            console.log(error);
                        });
                }
            }
        })
    </script>
{% endblock %}