{% extends 'base_site.html' %}

{% block title %}{% endblock %}

{% block body-class %}guideline-body{% endblock %}

{% block content %}
    <div id="app" class="main-container">
        <div class="two-cl-container">
            <div class="tabs">
                <el-menu :default-active="activeIndex" class="el-menu-demo lc-menu" mode="horizontal">
                    <el-menu-item class="menu__item" index="1"><a href="{% url 'lc-data' %}">Личные данные</a></el-menu-item>
                    <el-menu-item class="menu__item" index="2"><a href="{% url 'lc-statements' %}">Заявления</a></el-menu-item>
                </el-menu>
            </div>
        </div>

        {% block secondary_content %}{% endblock %}

    </div>
{% endblock %}

{% block scripts %}{% endblock %}