{% extends 'lc-secretary-layout.html' %}

{% block title %}Личный кабинет секретаря - Заявления{% endblock %}

{% block secondary_content %}
    <div class="lc-content">
    <div class="lc-data-container">
        <div class="two-cl-container">
            <div class="content standard-form-item">
                <h4>Заявления</h4>
                <div class="data_authorization">
                    <div class="data contacts">
                        <span class="label" style="width: 20%">Заявления</span>
                        <div class="table" style="width: calc(80% - 30px)">
                            <table class="contacts_table" width="100%">
                                <tr>
                                    <th>Специальность</th>
                                    <th>Форма обучения</th>
                                    <th>Тип оплаты</th>
                                    <th>Статус</th>
                                </tr>
                                <tr v-for="(statement, index) in selectStatements" :key="index">
                                    <td>[[ statement.special.title ]]</td>
                                    <td>[[ statement.learning_type ]]</td>
                                    <td>[[ statement.payment_type ]]</td>
                                    <td>[[ statement.status ]]</td>
                                    <td>
                                        <div class="phone">
                                            <span @click="initEditStatementForm(index)" class="icon_edit"></span>
                                        </div>
                                    </td>
                                </tr>
                            </table>
                        </div>
                    </div>
                    <div class="btn__save_data">
                        <el-button @click="saveInfo" :loading="isLoadingBtn" type="primary">Сохранить</el-button>
                    </div>
                </div>
                <div class="btn__save_data">
                        <el-button @click="makeReport" type="primary">Сформировать список</el-button>
                    </div>
            </div>
             <div class="aside standard-form-item-helper" style="padding: 10px">
                <div>
                    <h4>Факультеты</h4>
                    <div class="content"
                         style="width: 80%; margin: 5px auto 0 0; display: flex; flex-direction: column">
                        <el-button style="margin: 5px 0 0" type="primary" @click="loadByFaculties(faculty.id)"
                                   v-for="faculty in faculties" :key="faculty.id">[[ faculty.title ]]
                        </el-button>
                        <el-button style="margin: 5px 0 0" type="primary" @click="loadByFaculties(null)">Все</el-button>
                    </div>
                </div>
                <div style="margin-top: 20px">
                    <h4>Специальности</h4>
                    <div class="content"
                         style="width: 80%; margin: 5px auto 0 0; display: flex; flex-direction: column">
                        <el-button style="margin: 5px 0 0" type="primary" @click="loadBySpecialities(special.id)"
                                   v-for="special in specialities" :key="special.id">[[ special.title ]]
                        </el-button>
                        <el-button style="margin: 5px 0 0" type="primary" @click="loadBySpecialities(null)">Все</el-button>
                    </div>
                </div>
                 <div style="margin-top: 20px">
                    <h4>Тип оплаты</h4>
                    <div class="content"
                         style="width: 80%; margin: 5px auto 0 0; display: flex; flex-direction: column">
                        <el-button style="margin: 5px 0 0" type="primary" @click="loadByPaymentType('budget')">Бюджет</el-button>
                        <el-button style="margin: 5px 0 0" type="primary" @click="loadByPaymentType('commerce')">На платной основе</el-button>
                        <el-button style="margin: 5px 0 0" type="primary" @click="loadByPaymentType('target')">Целевое направление</el-button>
                        <el-button style="margin: 5px 0 0" type="primary" @click="loadByPaymentType(null)">Все</el-button>
                    </div>
                </div>
            </div>

        </div>

        <el-dialog class="form__add_phone" @close="closeEditStatementForm" :visible.sync="editStatementForm"
                   title="Изменить статус" width="40%">
            <el-form :model="editFormInline" :rules="rules" ref="editFormInline" class="demo-form-inline form__add_phone">
                 <el-form-item label="ФИО:">
                    <span>[[ editFormInline.full_name ]]</span>
                </el-form-item>
                 <el-form-item label="Паспорт:">
                    <span>[[ editFormInline.passport ]]</span>
                </el-form-item>
                 <el-form-item label="Школа:">
                    <span>[[ editFormInline.school ]]</span>
                </el-form-item>
                 <el-form-item label="Год окончания:">
                    <span>[[ editFormInline.year_graduation ]]</span>
                </el-form-item>
                 <el-form-item label="Медаль:">
                    <span>[[ editFormInline.medal ]]</span>
                </el-form-item>
                 <el-form-item v-for="(subject, index) in editFormInline.subjects" :label="subject.title">
                    <span>[[ subject.score ]]</span>
                </el-form-item>
                <el-form-item prop="faculty" label="Факультет:">
                    <span>[[ editFormInline.faculty ]]</span>
                </el-form-item>
                <el-form-item prop="special" label="Специальность:">
                     <span>[[ editFormInline.special ]]</span>
                </el-form-item>
                <el-form-item label="Форма обучения:" prop="learning_type">
                    <span>[[ editFormInline.learning_type ]]</span>
                </el-form-item>
                <el-form-item label="Тип оплаты:" prop="learning_type">
                    <span>[[ editFormInline.payment_type ]]</span>
                </el-form-item>
                <el-form-item label="Статус:" prop="status">
                    <el-select class="select_positions" v-model="editFormInline.status"
                               placeholder="Выберите статус">
                        <el-option v-for="(status, index) in statuses" :key="index" :label="status.label"
                                   :value="status.value"></el-option>
                    </el-select>
                </el-form-item>
                <el-form-item>
                    <el-button type="primary" @click="editStatement">Сохранить</el-button>
                    <el-button @click="closeEditStatementForm">Отменить</el-button>
                </el-form-item>
            </el-form>
        </el-dialog>

    </div>

{% endblock %}

{% block scripts %}
    <script>
        new Vue({
            el: '#app',
            delimiters: ['[[', ']]'],
            data: function () {
                return {
                    activeIndex: '3',
                    statements: {{ statements|safe }},
                    faculties: {{ faculties|safe }},
                    specialities: {{ specialities|safe }},
                    selectStatements: {{ statements|safe }},
                    statuses: [{
                        value: 'verification_wait',
                        label: 'Ожидает подтверждения'
                    },{
                        value: 'verification_success',
                        label: 'Заявление принято'
                    },{
                        value: 'verification_denied',
                        label: 'Заявление отклонено'
                    }],
                    editStatementForm: false,
                    editFormInline: {
                        full_name: '',
                        passport: '',
                        school: '',
                        yearGraduation: '',
                        medal: '',
                        subjects: [],
                        faculty: '',
                        special: '',
                        learning_type: '',
                        payment_type: '',
                        status: ''
                    },
                    rules: {
                        status: [
                            {required: true, message: 'Это поле обязательное', trigger: 'change'}
                        ],
                    },
                    currentIndex: null,
                    isLoadingBtn: false
                }
            },
            methods: {
                loadByPaymentType(paymentType){
                     if (!paymentType) {
                        this.selectStatements = this.statements;
                    } else {
                        this.selectStatements = this.statements.filter(
                            statement => statement.payment_type_value === paymentType
                        )
                    }
                },
                loadByFaculties(facultyId) {
                    if (!facultyId) {
                        this.selectStatements = this.statements;
                    } else {
                        this.selectStatements = this.statements.filter(
                            statement => statement.special.faculty_id === facultyId
                        )
                    }
                },
                loadBySpecialities(specialId) {
                    if (!specialId) {
                        this.selectStatements = this.statements;
                    } else {
                        this.selectStatements = this.statements.filter(
                            statement => statement.special.id === specialId
                        )
                    }
                },
                openEditStatementForm() {
                    this.editStatementForm = true;
                },
                closeEditStatementForm() {
                    this.editStatementForm = false;
                    this.editFormInline = {
                        full_name: '',
                        passport: '',
                        school: '',
                        year_graduation: '',
                        medal: '',
                        faculty: '',
                        subjects: [],
                        special: '',
                        learning_type: '',
                        payment_type: '',
                        status: ''
                    };
                },
                initEditStatementForm(index) {
                    this.currentIndex = index;
                    let statementInfo = this.statements[this.currentIndex];
                    this.editFormInline = {
                        id: statementInfo.id,
                        full_name: statementInfo.entrant.full_name,
                        passport: statementInfo.entrant.passport,
                        school: statementInfo.entrant.school,
                        yearGraduation: statementInfo.entrant.yearGraduation,
                        medal: statementInfo.entrant.medal,
                        subjects: statementInfo.subjects,
                        faculty: statementInfo.special.faculty,
                        special: statementInfo.special.id,
                        learning_type: statementInfo.learning_type,
                        payment_type: statementInfo.payment_type,
                        status: statementInfo.status
                    };
                    this.openEditStatementForm();
                },
                 editStatement() {
                    this.$refs['editFormInline'].validate((valid) => {
                        if (valid) {
                            let statementObj = this.statements[this.currentIndex];
                            statementObj.status = this.statuses.find(
                                status => status.label === this.editFormInline.status ||
                                        status.value === this.editFormInline.status
                            )['label'];

                            this.closeEditStatementForm();
                        } else {
                            return false;
                        }
                    })
                },
                statementsToJson() {
                    return this.statements.map(function (item) {
                        return {
                            id: item.id,
                            status: this.statuses.find(
                                status => status.label === item.status
                            )['value'],
                        }
                    }.bind(this));
                },
                openAlert() {
                    this.$alert('Изменения сохранены.', 'Заявления', {
                        confirmButtonText: 'OK',
                        confirmButtonClass: 'confirms_save_btn'
                    });
                },
                saveInfo() {
                    this.isLoadingBtn = true;
                    let data = JSON.stringify({
                        statements: this.statementsToJson()
                    });

                    let url = '{% url 'lc-secretary-statements-save' %}';
                    fetch(url, {
                        method: 'POST',
                        headers: {
                            'Accept': 'application/json',
                            'Content-Type': 'application/json'
                        },
                        body: data,
                    })
                        .then((response) => {
                            if (response.ok) {
                                return response.json();
                            }
                            throw new Error('Network response was not ok');
                        })
                        .then((json) => {
                            if (json['success']) {
                                this.isLoadingBtn = false;
                                this.openAlert();
                            }
                        })
                        .catch((error) => {
                            console.log(error);
                        });
                },
                makeReport() {
                    let url = '{% url 'make-report' %}';
                    window.open(url, '_blank');
                }
            }
        })
    </script>
{% endblock %}