{% extends 'lc-secretary-layout.html' %}

{% block title %}Личный кабинет секретаря - Факультеты{% endblock %}

{% block secondary_content %}
    <div class="lc-content">
    <div class="lc-data-container">
        <div class="two-cl-container">
            <div class="content standard-form-item">
                <h4>Факультеты</h4>
                <div class="data_authorization">
                    <div class="data contacts">
                        <span class="label" style="width: 20%">Факультеты</span>
                        <div class="table" style="width: calc(80% - 30px)">
                            <table class="contacts_table" width="100%">
                                <tr>
                                    <th>Название</th>
                                </tr>
                                <tr v-for="(faculty, index) in faculties" :key="index">
                                    <td>[[ faculty.title ]]</td>
                                    <td>
                                        <div class="phone">
                                            <span @click="initEditFacultyForm(index)" class="icon_edit"></span>
                                            <span @click="deleteFaculty(index)" class="icon_delete"></span>
                                        </div>
                                    </td>
                                </tr>
                            </table>
                            <button @click="openAddFacultyForm" class="btn__add_phone" type="button">
                                <span class="icon_plus"></span>Добавить факультет
                            </button>
                        </div>
                    </div>
                    <div class="btn__save_data">
                        <el-button @click="saveInfo" :loading="isLoadingBtn" type="primary">Сохранить</el-button>
                    </div>
                </div>
            </div>

        </div>

        <el-dialog class="form__add_phone" @close="closeFacultyForm" :visible.sync="addFacultyForm"
                   title="Добавить факультет" width="40%">
            <el-form :model="formInline" :rules="rules" ref="formInline" class="demo-form-inline form__add_phone">
                <el-form-item label="Название:" prop="title">
                    <el-input v-model="formInline.title" placeholder="Название"></el-input>
                </el-form-item>
                <el-form-item>
                    <el-button type="primary" @click="createFaculty">Создать</el-button>
                    <el-button @click="closeFacultyForm">Отменить</el-button>
                </el-form-item>
            </el-form>
        </el-dialog>


        <el-dialog class="form__add_phone" @close="closeEditFacultyForm" :visible.sync="editFacultyForm"
                   title="Редактировать факультет" width="40%">
            <el-form :model="editFormInline" :rules="rules" ref="editFormInline" class="demo-form-inline form__add_phone">
                 <el-form-item label="Название:" prop="title">
                    <el-input v-model="editFormInline.title" placeholder="Название"></el-input>
                </el-form-item>
                <el-form-item>
                    <el-button type="primary" @click="editFaculty">Сохранить</el-button>
                    <el-button @click="closeEditFacultyForm">Отменить</el-button>
                </el-form-item>
            </el-form>
        </el-dialog>

    </div>

{% endblock %}

{% block scripts %}
    <script>
        new Vue({
            el: '#app',
            delimiters: ['[[', ']]'],
            data: function () {
                return {
                    activeIndex: '1',
                    faculties: {{ faculties|safe }},
                    addFacultyForm: false,
                    editFacultyForm: false,
                    formInline: {
                        title: ''
                    },
                    editFormInline: {
                        title: ''
                    },
                    rules: {
                        title: [
                            {required: true, message: 'Это поле обязательное', trigger: 'blue'}
                        ]
                    },
                    currentIndex: null,
                    isLoadingBtn: false
                }
            },
            methods: {
                openAddFacultyForm() {
                    this.addFacultyForm = true;
                },
                openEditFacultyForm() {
                    this.editFacultyForm = true;
                },
                closeFacultyForm() {
                    this.addFacultyForm = false;
                    this.formInline = {
                        title: ''
                    };
                },
                closeEditFacultyForm() {
                    this.editFacultyForm = false;
                    this.editformInline = {
                        addFacultyForm: ''
                    }
                },
                initEditFacultyForm(index) {
                    this.currentIndex = index;
                    let facultyInfo = this.faculties[this.currentIndex];
                    this.editFormInline = {
                        id: facultyInfo.id,
                        title: facultyInfo.title
                    };
                    this.openEditFacultyForm();
                },
                  createFaculty() {
                     this.$refs['formInline'].validate((valid) => {
                        if (valid) {
                            let data = {
                                id: '',
                                title: this.formInline.title
                            };
                            this.faculties.push(data);
                            this.closeFacultyForm();
                        } else {
                            return false;
                        }
                    })
                },
                 editFaculty() {
                    this.$refs['editFormInline'].validate((valid) => {
                        if (valid) {
                            let facultyObj = this.faculties[this.currentIndex];
                            facultyObj.title = this.editFormInline.title;
                            this.closeEditFacultyForm();
                        } else {
                            return false;
                        }
                    })
                },
                deleteFaculty(index) {
                  this.faculties.splice(index, 1);
                },
                facultiesToJson() {
                    return this.faculties.map(function (item) {
                        return {
                            id: item.id,
                            title: item.title
                        }
                    }.bind(this));
                },
                openAlert() {
                    this.$alert('Изменения сохранены.', 'Заявления', {
                        confirmButtonText: 'OK',
                        confirmButtonClass: 'confirms_save_btn'
                    });
                },
                saveInfo() {
                    this.isLoadingBtn = true;
                    let data = JSON.stringify({
                        faculties: this.facultiesToJson()
                    });

                    let url = '{% url 'lc-secretary-faculties-save' %}';
                    fetch(url, {
                        method: 'POST',
                        headers: {
                            'Accept': 'application/json',
                            'Content-Type': 'application/json'
                        },
                        body: data,
                    })
                        .then((response) => {
                            if (response.ok) {
                                return response.json();
                            }
                            throw new Error('Network response was not ok');
                        })
                        .then((json) => {
                            if (json['success']) {
                                this.isLoadingBtn = false;
                                this.openAlert();
                            }
                        })
                        .catch((error) => {
                            console.log(error);
                        });
                }
            }
        })
    </script>
{% endblock %}